body {
  font-family: 'calibri', sans-serif;
  margin: 0;
  background: white;
}
a {
  color: #515151;
}

header {
  background: #273B47;
  height: 60px;
  padding:0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right {
  height: 35px;
  display: flex;
}

.header-right .button {
  margin-left: 20px;
}

.button {
  background: gray;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .3);
  /*border-bottom: 5px solid black;*/
  font-size: 18px;
  padding: 4px 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: .2s;
}

.button:active {
  transform: scale(.9);
}

.button.red {
  background: #ff4842;
  /*border-color: yellow;*/
}

.button.green {
  background: #7dcd40;
  /*border-color: purple;*/
}

nav {
  /*background: purple;*/
  /*float: right;*/
  /*position: absolute;*/
  /*right: 0;*/
  height: inherit;
}
nav ul {
  margin: 0;
  height: inherit;
}

nav ul {
  display: flex;
}
nav li {
  list-style: none;
  /*margin: 0 10px;*/
  color: white;
  height: inherit;
  display: flex;
  align-items: center;
}
nav li:after{
  content: "|";
  display: inline-block;
  /*margin:0 10px;*/
}

nav li:last-child:after{
  display: none;
}

nav a {
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  padding: 0 10px;
  align-items: center;
  font-size: 19px;
  /*border-top: 5px solid transparent;*/
}


.buscar label {
  margin: auto;
  width: 0;
  left: 280px;
  position: relative;
  display: flex;
  margin-top: 5px;
  border-radius: 10px;
}

.hola a {
  font-size: 33px;
  color: white;
  background: black;
  margin-left: 5px;
  height: 33px;
  padding: 0 10px 10px;

}

.hola input {
  font-size: 20px;
  color: black;
  margin-left: 5px;
  height: 28px;
  padding: 4px 10px 0;
  border-radius: 5px;
  text-decoration: none;
  width: 170px;
  height: 35px;
}

input:focus, textarea:focus {
  background: lightgray;

}

.primera .description {
  background: rgba(255, 255, 255, .8);
  position: absolute;
  bottom: 30px;
  left: 20px;
  padding: 20px;
  width: 400px
}


.primera {
  margin: auto;
  width: 1150px;
  position: relative;
  margin-top: 5px;
  border-radius: 10px;
  justify-content: center;
}


.blog-items{
  width: 1150px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

.blog-items h3 {
  font-weight: 600;
  margin: 10px 0 15px;
  width: 200px;
}

.item-blog {
  width: 300px;
  padding-right: 81px;
  margin-top: 20px
}


.item-blog .description {
  margin-bottom: 20px;
}


.autor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  border-top: 1px solid gray;
  padding-top: 15px;
}

.autor img {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}

.autor p {
  margin: 0;
}

.paginas{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.paginas ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.paginas li {
  background: #eaeaea;
  height: 40px;
  line-height: 40px;
  border: 1px solid gray;
  margin: 0 5px;
}
.paginas li.selected {
  border-color: transparent;
  background: white;
}

.paginas a {
  padding: 0 10px;
  text-decoration: none;
  display: block;
  height: inherit;
}
